*.o
*.lo
*.la
.*
!.gitignore !.clang-format
config.*
*.in
Makefile
.deps
aclocal.m4
autom4te.cache
autoscan.log
compile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tests/rtnl_*
tests/xfrm_*
m4
include/libmnlxt/features.h
